$primaryColor: #3c3d71;
$secondaryColor: #ff9100;
@mixin title {
  font-size: 30px;
  color: $primaryColor;
}
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin bouton($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
}
